@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply bg-stone-900 text-stone-50 h-full w-full;
}

#__next {
  @apply flex flex-col p-4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
